<% if notice%>
  <p id="notice"><%= notice %></p>
<% end %>
 

<div class='page-header'>
  <h1 class='page-title'>Products</h1>

    
    <%= link_to 'New Product', new_product_path, class: 'new-product-btn' %>   
  
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$<%= product.formatted_price %></td>
        <td><%= product.quantity %></td>
        <td class='action-product'>
          <span class='show'><%= link_to 'Show', product %></span>
          <span class="edit"><%= link_to 'Edit', edit_product_path(product) %></span>
          <span class="delete"> <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



