<% if notice %>
 <p id="notice"><%= notice %></p>
<% end %>


<section class='product'>

<div class='product-image-wrap'>
  <%= image_tag @product.product_image %>
</div>


<div class='product-info'>
  <h1><%= @product.name %></h1>
  <div class="nav-buttons">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back to Products', root_path %>
  </div>
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong> 
    $<%= @product.formatted_price %>
  </p>

    <span> Product posted by: <%= (User.find_by id: @product.user_id).username %> </span>
  
</div>


</section>

<h2>Reviews</h2>

<% if @product.reviews.length < 1 %>
  <p>No Reviews available</p>
<% else %>
  <ul class='reviews'>
    <% @product.reviews.each do |review| %>
      <li>
        <h3><%= review.comment %></h3>
        
        <span class="created-at">Posted on: <%= review.created_at.strftime("%b-%d-%Y") %> </span>
        
        <span> Review crafted by: <%= (User.find_by id: review.user_id).username %> </span>
      </li>
 
    <% end %>
  </ul>


<% end %>



<div class='review-form'>
<%= render 'reviews/form' %>  
</div> 


