<p id="notice"><%= notice %></p>

<div class='page-header'>
  <h1 class='page-title'>Reviews</h1>
  
    <%= link_to 'New Review', new_review_path, class: 'new-product-btn' %>   
  
</div>


<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Product</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td><%= review.product_id %></td>
        <td class='action-review'>
          <span class='show'><%= link_to 'Show', review %></span>
          <span class="edit"><%= link_to 'Edit', edit_review_path(review) %></span>
         <span class="delete"> <%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="nav-buttons"><%= link_to 'Home', root_path %></div>

