<% if notice%>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Product</th>
      <th>Reviewer</th>
      <th> actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td><%= review.product.id %></td>
        <td><%= review.user_id %></td>
        <td class="action-product">
          <span class='show'><%= link_to 'Show', review %></span>
          <span class='edit'><%= link_to 'Edit', edit_review_path(review) %></span>
          <span class='delete'><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></span>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="nav-buttons"><%= link_to 'New Review', new_review_path %> |
<%= link_to 'Home', root_path %></div>

