<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <%= favicon_link_tag asset_path('forest.svg') %>
    </head>

  <body>
    <header id='header'>
      <div class='container'>
        <div class='logo'> <%= link_to "Rain Forest", root_path %> </div>
        <div>

          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'new-product-btn' %>   
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'new-product-btn' %>   
            <%= link_to 'Sign In', new_user_session_path, class: 'new-product-btn' %>   
        <% end %>
</div>

      </div>
    </header>
    <main>
      <div class='container'>
        <%= yield %>
      </div>
    </main>
    
    <footer id='footer'>
      <div class='container'>
        <p>Copyright &copy; 2021 Rain Forest</p>
      </div>
    </footer>
  </body>
</html>
