<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id='header'>
      <div class='container'>
      <div class='header-wrap'>
        <div class='logo'> <%= link_to "Rain Forest", root_path %> </div>
        
        <div class='auth-nav'>
          <% if user_signed_in? %>
          Logged in as <strong><%= current_user.username %></strong>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out-btn btn btn-primary' %>   
          <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-btn btn btn-primary-outline' %> 
            <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up-btn btn btn-primary ' %>     
          <% end %>
        </div>

      </div>  

      </div>
    </header>
    <main>
      <div class='container'>
        <%= yield %>
      </div>
    </main>
    
    <footer id='footer'>
      <div class='container'>
        <p>Copyright &copy; 2021 Rain Forest</p>
      </div>
    </footer>
  </body>
</html>
